.center-block{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
.text-right{
    text-align: right;
}

.text-center{
    text-align: center !important;
}

.light{
    color: rgba(0, 0, 0, 0.54) !important;
}

.dark{
    color: rgba(0, 0, 0, 0.87) !important;
}

.medium{
    font-size: 1.5em;
}

.text-danger{
    color: #d50000 !important;
    position: absolute !important;
    font-size: 12px !important;
    margin-top: 3px !important;
    display: block !important;
}