body{
    font-family:'Roboto','Helvetica','Arial',sans-serif!important;
}

.center-block{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
.text-right{
    text-align: right;
}

.text-center{
    text-align: center !important;
}

.light{
    color: rgba(0, 0, 0, 0.54) !important;
}

.dark{
    color: rgba(0, 0, 0, 0.87) !important;
}

.medium{
    font-size: 1.5em;
}

.text-danger{
    color: #d50000 !important;
    position: absolute !important;
    font-size: 12px !important;
    margin-top: 3px !important;
    display: block !important;
}

div.panel {
    background-color: #FAFAFA;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

span.element {
    padding-left: 16px;
    color: rgba(0,0,0,.87);
}
span.subelement {
    padding-left: 24px;
    font-size: small;
    color: rgba(0,0,0,.87);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
div.mdl-js-ripple-effect {
    position: relative;
}

a.mdl-js-ripple-effect {
    position: relative;
}

.drawer-bg{
    background: url(/static/img/drawer.png);
    background-size: 100%;
    width: 100%;
    height: 130px;
}
  
.opacity-mask{
    width: 100%;
    height: 130px;
    background-color: rgba(0,0,0,.21);
}

.user-circle{
    border-radius: 50%;
    width: 58px;
    height: 58px;
    margin-left: 16px;
    line-height: 56px;
    font-size: 2em;
    font-weight: 300;
}

.spacer-div{
    height: 8px;
}

.bg--primary{
    background-color:#3F51B5
}

.bg--accent{
    background-color:#ff5252
}

.white{
    color:#fff!important
}

.drawer-divider{
    margin:0
}

.user-info{
    height:56px;
    padding-left:16px;
    padding-right:16px;
    line-height:28px
}
.no-decor{
    text-decoration:none!important;
    color:#fff
}
.hero-img{
    background-image: url("/static/img/header-bg.jpg");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-txt{
    text-align: left;
    position: absolute;
    top: 25%;
    left: 3%;
    color: white;
}
.small-hero-txt{
    text-align: left;
    position: absolute;
    left: 3%;
    color: white;
    top: 5% !important
}
.txt-light{
    color: #fff;
}
.about{
    top: 10%;
}
a{
    font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
}
.logos{
    background-color: #fafafa;
}
input{
    font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
}
label{
    font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
}
.footer-copy{
    font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
}
.contact-card{
    padding-top: 1%;
    padding-bottom: 2%;
}
.candidate-btn-amlo{
    margin: 5px;
    background-color: #c3311a;
    color: #fff;
}
.candidate-btn-meade{
    margin: 5px;
    background-color: #F40000;
    color: #fff;
}
.candidate-btn-anaya{
    margin: 5px;
    background-color: #1f62b0;
    color: #fff;
}
.candidate-btn-zavala{
    margin: 5px;
    background-color: #9a83e5;
    color: #fff;
}
.candidate-btn-bronco{
    margin: 5px;
    background-color: #6471d0;
    color: #fff;
}
.candidate-btn-amlo:hover{
    background-color: #9b2614;
    color: #fff;
}
.candidate-btn-meade:hover{
    background-color: rgb(194, 1, 1);
    color: #fff;
}
.candidate-btn-anaya:hover{
    background-color: #184e8d;
    color: #fff;
}
.candidate-btn-zavala:hover{
    background-color: #8470c4;
    color: #fff;
}
.candidate-btn-bronco:hover{
    background-color: #515aa3;
    color: #fff;
}

.small-chip{
    font-size: 10px !important;
}

.small-title {
    display: block;
    position: relative;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 10px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
}

.radio-element{
    margin-top: 10px !important;
}

.admin-submit-button{
    margin-top: 25px !important;
}

.gform-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.gform-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}